/* Table of Contents
Background
Body
Text
Colors
Layout
Animations*/
/** {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*/body {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	background-color: #fffsea;
	color: #4E382F;
	font-family: Arial, Verdana, sans-serif;
	font-size: 16px;}
#page {
	position: relative;
	top: 125px;
/*	max-width: 940px;
	min-width: 720px;*/
	/*margin: 10px auto 10px auto;*/
	padding: 20px;
	border: 4px double #000;
}
#main {
	position: relative;
	top: 125px;
	min-width: 300px;
	max-width: 600px;
	margin: 0 auto;
}

a:link {
	color: #ff8fb1;
	text-decoration: none;}
a:visited {
	color: #01B0f0;}
a:hover {
	color: #AEEE00;
	text-decoration: underline;}
h1 {
	position: fixed;
	top: 0px;
	left: 330px;
	width: 600px;
	padding: 10px;
	background-color: #ccb8a3;
	background-size: 100px;
	margin: 10px 10px 10px 10px;
	border: 2px solid DeepPink;
	text-align: center;
	font-family: sue ellen francisco;
  	font-size: 48px;
  	color: #FF1493;
  	z-index: 10;
}
h2 {
	position: relative;
	top: 125px;
	text-align: center;
}
h3 {
	font-weight: bold;
}
h5 { }
h6 { }

/*div {
	height: 300px;
	width: 400px;	
}*/

p { 
	background-color: #fab3c9;
	text-align: center;
	width: 600px;
	margin: 20px auto 20px auto;
	}
#elem {
/*	max-width: 940px;
	min-width: 720px;*/
	position: relative;
	top: 125px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
}

table {
	
	border: 5px solid DeepPink;
	padding: 2px;
}
th, tr, td {border: 2px dotted LightPink;
	padding: 2px;

}

#footer {
	position: relative;
	top: 125px;
	text-align: center;
}

/*.column1 {
	width: 30%;
	float: left;
	margin: 5px;
}
 .column2 {
	width: 30%;
	clear: both;
	margin: 10px;
}
.column3  {
	width: 30%;
	float: right;
	margin: 10px;
}*/

#topdonut {
	position: absolute;
	top: -75px;
	left: -75px;
}
/*#botdonut {
	position: absolute;
	bottom: -135px;
	right: 75px;
}*/



