/* Table of Contents
Background
Body
Text
Colors
Layout
Animations*/

body {
	text-align: center;
	width: 1200px;
	margin: 0 auto;
	background-color: #00bfff;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
a:link {
	color: #14c7de;
	text-decoration: none;}
a:visited {
	color: #01B0f0;}
a:hover {
	color: #AEEE00;
	text-decoration: underline;
}

h1 {
	text-align: center;
	letter-spacing: 15px;
	font-family: bad script;
  	font-size: 56px;
  	color: #000000;
}
h2 {
	text-align: center;
}
h3 {
	font-weight: bold;
}
h5 { }
h6 { }

p { 
	height: 75%;
	width: 75%;
	margin-left: 20px;
	padding-left: 20px;
	text-align: left;
	}

#newRainyDay {
  float:left;
  margin-right: 60px;
  width: 200px;
  vertical-align: super;
}

input {
	font size: 120%;
	color: 000000;
	background-color: 00bfff;
	border: 1px solid DeepPink;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	background-repeat: no-repeat;;
	background-position: 8px 9px;
	display: block;
	margin-bottom: 10px;
}

input: focus, input: hover {
	background-color: #00bfff;
	border: 1px solid DeepPink;
}

fieldset {
	width: 300px;
	margin: 20px;
	border: 2px solid DeepPink;
	border-radius: 10px;
	padding: 20px;
	text-align: left;
	font-family: jura;
	font-size: 16px;
}

legend {
	background-color: ffffff;
	margin: 20px;
	border: 2px solid DeepPink;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;
}

table {
	width: 600px;
	margin: 20px;
	border: 5px solid DeepPink;
	border-radius: 80px 50px;
	padding: 30px;
	background-color: #ffffff;
}

th, tr, td {
	/*border: 2px dotted LightPink;*/
	padding: 5px;
}

.clear {
	clear: both;
}
.clearr {
	clear: both;
}

/*.plorum {
	float: left;
}*/

.tabRainyDay {
 /* text-align: center;*/
  float: right;
  vertical-align: super;
  font-family: jura;
  font-size: 14px;
}

.spin1 {
  float: left;
  -webkit-animation-name: spinning;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spinning {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spin2 {
  float: right;
  -webkit-animation-name: spinning;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinning {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}

#footer {
	text-align: center;
	color: DeepPink;
/*	position: fixed;
	bottom: 0px;*/
}






